<h1>Admin Login</h1>

<%= form_with url: admin_authenticate_path, method: :post, local: true do |f| %>
  <p>
    <label>Password:</label><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "Login" %>
  </p>
<% end %>
